agentforcourses-Jv8xjoUEprL8v1WK.json
{"updatedAt":"2026-02-28T12:40:44.533Z","createdAt":"2026-02-27T18:25:12.522Z","id":"Jv8xjoUEprL8v1WK","name":"AgentForCourses","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,112],"id":"2327ed92-9ebc-440c-a2ab-dd831b299b0c","name":"When chat message received","webhookId":"b8479406-b883-49d4-b763-e96e0146e829"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[288,0],"id":"e8c81a11-2bf0-45c8-9b98-ed2d9f4a5283","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,224],"id":"7d66bb3a-d02a-4921-83a8-f8e750492a5d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"TzQFOC8LH6DUFE4S","name":"Gemini API"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,224],"id":"61e7fa4f-b1bc-422b-92e8-28de41a698d9","name":"Simple Memory"},{"parameters":{"operation":"__CUSTOM_API_CALL__"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[448,432],"id":"e5c02a48-1dfe-41c5-95d2-3ec47d9378f2","name":"__CUSTOM_API_CALL__ document","credentials":{"googleDocsOAuth2Api":{"id":"koGfGzUSfQuh7FA4","name":"Google Docs account"}}},{"parameters":{"folderId":"default","title":"={{ $json.title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[224,432],"id":"8ca9a045-a75b-4a02-81b4-d9612768a56d","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"koGfGzUSfQuh7FA4","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"068c8cd8-e816-43c5-a799-bb32a1fcf75d","name":"title","value":"={{ $json.output.split('\\n')[0].replace('Course Title: ', '') }}","type":"string"},{"id":"89a4bf99-ebd0-4d56-93da-f522010296ba","name":"content","value":"={{ $json.output.split('\\n').slice(1).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,432],"id":"847863cb-09c7-4057-86ae-4ee34871562e","name":"Edit Fields"},{"parameters":{"folderId":"default","title":"="},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[928,272],"id":"3dc0db9a-b120-4c7e-a434-3224e14cc4ee","name":"Create a document in Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"koGfGzUSfQuh7FA4","name":"Google Docs account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Create a document":{"main":[[{"node":"__CUSTOM_API_CALL__ document","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Create a document in Google Docs":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18052c40-250e-48b7-844f-f77974203dcf","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-27T18:25:12.527Z","createdAt":"2026-02-27T18:25:12.527Z","role":"workflow:owner","workflowId":"Jv8xjoUEprL8v1WK","projectId":"setsxmJfj4xM91Yc"}],"activeVersion":null,"tags":[]}