codeexample-pwL2Ep6ibV89k5hC.json
{"updatedAt":"2026-02-22T10:45:55.913Z","createdAt":"2026-02-22T10:15:47.779Z","id":"pwL2Ep6ibV89k5hC","name":"codeExample","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"80067fd4-6824-4e32-9ca1-45780a8d74f6","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU","mode":"list","cachedResultName":"NewTesting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Date","lookupValue":"={{ $today }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"80db404f-b3d8-4820-97d7-613fcb00689d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A0wPsSNhWae4RLXt","name":"GoogleN8NTesting"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,0],"id":"c5a21ecb-e436-4d9e-a4ec-a320cf6d1fb3","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"da9095fc-1636-4997-adc7-e35c0708b64f","leftValue":"={{ $json.Called }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"019ba7c5-e24d-4783-aa5e-e3d6cfbbfddd","leftValue":"={{ $json.Rejected }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[480,0],"id":"7688a844-421d-423a-a7e0-855f742da449","name":"Filter"},{"parameters":{"sendTo":"tonitrajkovski04@gmail.com","subject":"List of new leads","emailType":"text","message":"={{ $json.text }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1120,0],"id":"1128bb72-a7f9-4a5a-bbe6-e50c5149d7e7","name":"Send a message","webhookId":"108838f6-7a0e-4c03-a395-1980a7a93546","credentials":{"gmailOAuth2":{"id":"tHb1LjXZs3PkatdF","name":"GmailCredentialTesting"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst people = items[0].json.data;\n\nconst textOutput = people.map(person =>\n  'Name: ${person[\"First Name\"]} ${person[\"Last Name\"]}\\n' +\n  'Email: ${person[\"Email\"] }\\n' +\n  'Budget: ${person[\"Budget \"]}\\n' +\n  'Message: ${person [\"Message\"]}'\n).join(\"\\n\\n\"); // Joins all person entries with a blank Tine in betsmneh\n\nreturn [{ json: { text: textOutput } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"264787bf-cdab-49f2-a8fd-328879deeaab","name":"Code in JavaScript"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"904a9778-462b-48ef-a696-cb20461cc235","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T10:15:47.784Z","createdAt":"2026-02-22T10:15:47.784Z","role":"workflow:owner","workflowId":"pwL2Ep6ibV89k5hC","projectId":"setsxmJfj4xM91Yc"}],"activeVersion":null,"tags":[]}