course-generation-VmUaW9eCF9D3pJtY.json
{"updatedAt":"2026-03-05T10:01:50.135Z","createdAt":"2026-03-05T08:44:46.716Z","id":"VmUaW9eCF9D3pJtY","name":"Course generation","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Generate course","formFields":{"values":[{"fieldLabel":"level","fieldType":"dropdown","fieldOptions":{"values":[{"option":"beginner"},{"option":"intermediate"},{"option":"advanced"}]},"requiredField":true},{"fieldLabel":"Course materials","fieldType":"file","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-176,128],"id":"959e199f-65ed-486e-a527-59f3aff5f824","name":"On form submission","webhookId":"e5a6b9bf-7c43-4a37-a836-01ab9570d28d"},{"parameters":{"operation":"pdf","binaryPropertyName":"Course_materials","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[32,128],"id":"16930fbe-74e4-4202-ac37-395ad0ad42b7","name":"Extract from File"},{"parameters":{"promptType":"define","text":"=Create an extensive, deep-dive course at the {{ $('On form submission').item.json.level }} level.\n\nSource Material to expand upon:\n{{ $json.text }}","options":{"systemMessage":"=You are an expert technical instructor. Your ONLY task is to output a valid Google Colab Jupyter Notebook (.ipynb) in Macedonian.\n\nCRITICAL RULES:\n\nOutput ONLY the raw JSON code.\n\nNEVER use markdown code blocks like ```json or ```.\n\nNEVER include introductory text like \"Here is your course\" or concluding remarks.\n\nEnsure all Macedonian Cyrillic characters are correctly encoded.\n\nThe output must start with { and end with }.\n\nCourse Requirements:\n\nDifficulty: {{ $('On form submission').item.json.level }}\n\nStructure: Include at least 5 Markdown cells with deep explanations and 3 Code cells with exercises."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[240,128],"id":"57394b94-0b88-444f-8b44-f246b0f9c8e4","name":"AI Agent"},{"parameters":{"jsCode":"let rawData = $input.first().json.output;\n// $input.first().json.output\nrawData = rawData.replace(/```json/g, '').replace(/```/g, '').trim();\n\nconst buffer = Buffer.from(rawData, 'utf8');\n\nreturn [\n  {\n    json: {\n      fileName: \"generated_course.ipynb\"\n    },\n    binary: {\n      data: {\n        data: buffer.toString('base64'),\n        mimeType: 'application/x-ipynb+json',\n        fileName: 'generated_course.ipynb',\n        fileExtension: 'ipynb'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,128],"id":"b1a0fe35-15bd-4b64-9292-0378d653e20c","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,288],"id":"9407f4c5-b911-48bb-ac5f-2f61943e2968","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"TzQFOC8LH6DUFE4S","name":"Gemini API"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5a8d5ba-7262-4d34-96cf-bd458012afd8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T08:44:46.723Z","createdAt":"2026-03-05T08:44:46.723Z","role":"workflow:owner","workflowId":"VmUaW9eCF9D3pJtY","projectId":"setsxmJfj4xM91Yc"}],"activeVersion":null,"tags":[]}