gmail_sheet_test-0lIPnVnmKk9bCFdK.json
{"updatedAt":"2026-02-22T10:19:39.714Z","createdAt":"2026-02-19T16:49:57.064Z","id":"0lIPnVnmKk9bCFdK","name":"Gmail_Sheet_Test","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Test Form","formFields":{"values":[{"fieldLabel":"First Name"},{"fieldLabel":"Last Name"},{"fieldLabel":"Email"},{"fieldLabel":"Budget","fieldType":"dropdown","fieldOptions":{"values":[{"option":"0-1,000"},{"option":"1,000+"},{"option":"0-100"}]}},{"fieldLabel":"Message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[0,0],"id":"a1098118-6f48-4cfc-86e5-ddcfe1afb65f","name":"On form submission","webhookId":"3f1600eb-811d-4658-b30d-9c05e7fb124d"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU","mode":"list","cachedResultName":"NewTesting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1unvrKetLblFdHHWJJPuY9-vlYDkKps4HwBsuNF_ltvU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json['First Name'] }}","Last Name":"={{ $json['Last Name'] }}","Email":"={{ $json.Email }}","Budget":"={{ $json.Budget }}","Message":"={{ $json.Message }}","Date":"={{ $today }}","Rejected":"={{ $if($json.Budget == \"1,000+\", \"FALSE\", \"TRUE\") }}"},"matchingColumns":["Email"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rejected","displayName":"Rejected","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,0],"id":"6de2dd8b-0a72-40e8-ba28-373211f7a0da","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A0wPsSNhWae4RLXt","name":"GoogleN8NTesting"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6723d835-7ea6-4227-9787-38dc9109af20","leftValue":"={{ $json.Budget }}","rightValue":"0-100","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[320,0],"id":"d8abf7fc-6300-4082-bf5d-00aec2bf9c93","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('On form submission').item.json.Budget }}","rightValue":"100-1,000","operator":{"type":"string","operation":"equals"},"id":"0cbd6b90-bedf-4fb5-9b33-adb9d161d504"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d01608bd-5fd2-4e2b-89b5-938d1857c748","leftValue":"={{ $('On form submission').item.json.Budget }}","rightValue":"1,000+","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[528,0],"id":"0ae060ee-8b90-439f-8314-40a2f2d5a1f7","name":"Switch"},{"parameters":{"sendTo":"={{ $('On form submission').item.json.Email }}","subject":"Hey, thanks for inquiring with ABC company","emailType":"text","message":"=Hey,  {{ $('On form submission').item.json['First Name'] }}\n\nThanks for inquiring with our services.\nBest","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[736,96],"id":"057d0e2c-9aff-4854-8619-b49ed99856d8","name":"Send a message","webhookId":"1458bed1-c143-4de2-9d5e-0fc0e085d8da","credentials":{"gmailOAuth2":{"id":"tHb1LjXZs3PkatdF","name":"GmailCredentialTesting"}}},{"parameters":{"sendTo":"={{ $('On form submission').item.json.Email }}","subject":"Hey, thanks for inquiring with ABC company","emailType":"text","message":"=Hey,  {{ $('On form submission').item.json['First Name'] }}\n\nThanks for inquiring with our services.\nBest","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[720,-48],"id":"7f7e1a65-e8de-4af0-af43-ebdd8f8ad4bb","name":"Send a message1","webhookId":"1458bed1-c143-4de2-9d5e-0fc0e085d8da","credentials":{"gmailOAuth2":{"id":"tHb1LjXZs3PkatdF","name":"GmailCredentialTesting"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,16],"id":"fb53d3f9-b12f-4a46-859c-46fcae78ff7a","name":"Merge"}],"connections":{"On form submission":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"First Name":"Antonio","Last Name":"Markocki","Email":"tonitrajkovski04@gmail.com","Budget":"1,000+","Message":"GOOD","submittedAt":"2026-02-21T07:35:49.334-05:00","formMode":"test"}}]},"versionId":"952ad248-5221-4c42-9f88-9cb9c6da076a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-19T16:49:57.074Z","createdAt":"2026-02-19T16:49:57.074Z","role":"workflow:owner","workflowId":"0lIPnVnmKk9bCFdK","projectId":"setsxmJfj4xM91Yc"}],"activeVersion":null,"tags":[]}